/dist
/output
/build
/version.js
/node_modules
/aa
/dll
*_bak
*-bak
*.bak
*.bak.*
*_bak.*
*-bak.*

/.idea


.DS_Store
.DS_Store?
._*
.Spotlight-v100
.Trashes
ehthumbs.db
.Thumbs.db


*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

.sass-cache
*.css.map
.happypackDev
.happypack
